body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: Roboto Slab;
}

h1 {
  line-height: 2;
  font-weight: 400;
  font-size: 32px;
  font-family: Dosis;
}

nav {
  padding: 0 10px;
  background: #555555;
}

nav .brand-logo {
  color: #AAAAAA;
  letter-spacing: 4px;
  line-height: 60px;
  font-family: Dosis;
  font-weight: 300;
}

nav .brand-logo .end {
  color: #767070;
}

nav .fa-cogs {
  font-size: 30px;
  line-height: 65px;
  color: #fefefe;
}

footer {
  padding: 0, 10px;
  color: white;
  border-top: 2pxsolid#555555;
  text-align: center;
}